.context-edition-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.context-input {
  /* Remove the button propriety */
  all: unset;

  width: 115px;
  height: 30px;

  background-color: var(--primary-color);
  border-radius: 10px;
}

.save-context {
  /* Remove the button propriety */
  all: unset;
  cursor: pointer;

  width: 50px;
  height: 30px;

  background-color: var(--primary-color);
  border-radius: 10px;

  text-align: center;
}
