/* Ensure root elements stretch full height */
/* html,
body,
#root {
  width: 270px;
  height: 400px;

  color: white;
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
}

:root {
  --background-color: #222222;
  --primary-color: #470a35;
  --secondary-color: #151616;
  --padding: 10px;
} */

@import "tailwindcss";

.context-tail {
  @apply w-48 h-12
  flex items-center justify-center
  bg-neutral-900 text-white rounded-lg;
}

.selected {
  @apply w-48 max-h-36
  bg-neutral-900 text-white;
}

/* Simple custom scrollbar */
.list-container::-webkit-scrollbar {
  width: 6px;
}

.list-container::-webkit-scrollbar-track {
  background: transparent;
}

.list-container::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 999px;
}

.list-container::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
